* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    text-transform: uppercase;
    cursor: pointer;
    animation: fadeInUp;
    animation-duration: 1.4s;
    height: 200px;
}

header #Chart {
    margin-left: 20%;
    display: inline-block;
}

header .topmenutext {
    color: #fff;
    cursor: pointer;
    animation: fadeInUp;
    animation-duration: 1.4s;
    font-size: 28px;

}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url("../images/menu.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    animation: fadeInUp;
    animation-duration: 1.4s;
}

.toggle.active {
    background: url("../images/menuclose.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: grey;
    transition: 0.5s;
    z-index: 2;
}

.showcase.active {
    right: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #04afbb;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 2em;
    font-weight: 800;
    color: #fff;
    line-height: 1.5em;
    text-transform: uppercase;
    animation: fadeInUp;
    animation-duration: 1.4s;
}

.text #tks {
    font-size: 2em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    float: right;
    animation: fadeInUp;
    animation-duration: 1.4s;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.menu .memberimage {
    position: absolute;
    height: 100px;
    top: 90px;
}

.menu .loginbtndiv {
    position: absolute;
    top: 230px;
}

.menu .loginbtn,
.signup {
    font-size: 30px;
    border-style: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.menu .loginbtn {
    position: relative;
    left: 10%;
    color: #04afbb;
}

.menu .signup {
    position: relative;
    top: 10px;
}

.menu #linkweb {
    position: absolute;
    top: 50%;
}


/*.menu ul {
    position: relative;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color: #03a9f4;
}*/